In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [16]:
txt = """1. symboling: -3, -2, -1, 0, 1, 2, 3.
2. normalized-losses: continuous from 65 to 256.
3. make:
4. fuel-type: diesel, gas.
5. aspiration: std, turbo.
6. num-of-doors: four, two.
7. body-style: hardtop, wagon, sedan, hatchback, convertible.
8. drive-wheels: 4wd, fwd, rwd.
9. engine-location: front, rear.
10. wheel-base: continuous from 86.6 120.9.
11. length: continuous from 141.1 to 208.1.
12. width: continuous from 60.3 to 72.3.
13. height: continuous from 47.8 to 59.8.
14. curb-weight: continuous from 1488 to 4066.
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor.
16. num-of-cylinders: eight, five, four, six, three, twelve, two.
17. engine-size: continuous from 61 to 326.
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.
19. bore: continuous from 2.54 to 3.94.
20. stroke: continuous from 2.07 to 4.17.
21. compression-ratio: continuous from 7 to 23.
22. horsepower: continuous from 48 to 288.
23. peak-rpm: continuous from 4150 to 6600.
24. city-mpg: continuous from 13 to 49.
25. highway-mpg: continuous from 16 to 54.
26. price: continuous from 5118 to 45400."""

In [24]:
#get the column names from the text above
#rewrite this section as a oneline regex expression.

items = txt.split('\n')
columns = []
for item in items:
    columns.append(item.split('. ')[1])
cols = []
for col in columns:
    cols.append(col.split(':')[0])
print(cols)

26
['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [28]:
#read in data
cars = pd.read_csv('imports-85.data',names=cols)
cars.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [76]:
#Prepare dataset
cars.replace('?',np.nan,inplace=True)
cars.dtypes
cars = cars.astype({'normalized-losses':float,
                   'price': float,
                     'peak-rpm': float,
                     'horsepower': float,
                     'stroke': float,
                     'bore': float,
                   })
car = cars

In [105]:
#handle null values
cars=car
start_size = cars.shape[0]
print('initial_size: {}'.format(start_size))
# print(cars.isnull().sum() / cars.shape[0])
# nullrows = cars.isnull().any(axis=1)
# cars[nullrows]

#normalized-losses: set null to average
cars['normalized-losses'].value_counts(dropna=False).sort_index()
cars.loc[cars['normalized-losses'].isnull(),'normalized-losses'] = np.mean(cars['normalized-losses'])

cars = cars.drop(cars[cars.bore.isnull()].index)#bore,stroke: (4)
cars = cars.drop(cars[cars.price.isnull()].index) #(4)
cars = cars.drop(cars[cars.horsepower.isnull()].index) #peak-rpm, horsepower: (2)
cars = cars.drop(cars[cars['num-of-doors'].isnull()].index) #(2)

print('final size: {}'.format(cars.shape[0]))
print('reduction by {:.2}%'.format(100 - 100*(cars.shape[0]/start_size)))

initial_size: 205
final size: 193
reduction by 5.9%

In [114]:
#Normalize numeric columns
cars[(cars.dtypes == 'int64') or (cars.dtypes == 'float64')]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
#long blank for vertical display ergonomics